<h1>Accounts</h1>

<a href="<%= new_account_path %>">+ Neuer Account</a>

<ul>
<% @accounts.each do |account| %>
  <li>
    <a href="<%= edit_account_path(account) %>">
      <%= account.name %>
    </a>
  </li>
<% end %>
</ul>
